@model IEnumerable<MyDashboardApp.Models.Item>
@using MyDashboardApp.Helpers;
@{
    ViewData["Title"] = "Test Card View";
}
<div class="container">
    <div class="grid" style="grid-template-columns: repeat(auto-fill, minmax(250px,1fr));grid-gap:1rem">
        @foreach (var item in Model)
        {
            <div class="card" style="width:18rem;">
                <div class="card__heading">
                    <h5 class="heading--small">
                        Date: @DateHelper.FormatDate(DateTime.Parse(@item.Date))
                        </h5>
                </div>
                <h6 style="padding:0 10px; color:red">ID: @item.Id</h6>
                <div class="card__body">

                    <p class="card-text">@item.Maintenance</p>

                </div>
                <div class="card__footer" >
                    <button 
                        type="button"
                        class="btn btn-primary"
                        onclick="location.href='@Url.Action("MaintenanceById","Items", new {id = item.Id})'"
                    >
                        Details
                    </button>

                    <button 
                        type="button"
                        class="btn btn-primary"
                        onclick="deleteItem(@item.Id)"
                    >
                        Delete
                    </button>
                </div>
            </div>
        }
    </div>
    <script src="~/js/DeleteByIDHelper.js"></script>
</div>
