@model IEnumerable<MyDashboardApp.Models.Item>
@using MyDashboardApp.Helpers;
@{
    ViewData["Title"] = "Test Card View";
}
<div class="container">
    <div class="grid" style="grid-template-columns: repeat(auto-fill, minmax(250px,1fr));grid-gap:1rem">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div >
                            <h5>
                                Date: @DateHelper.FormatDate(DateTime.Parse(@item.Date))
                            </h5>
                            
                        </div>
                        <p style="height:100px"  class="card-text">@item.Maintenance</p>
                    </div>

                </div>
               
                <div  class="card-footer" >
                    <h6 style=" color:red" class="card-footer-item">ID: @item.Id</h6>
                    <button 
                        type="button"
                        class="card-footer-item"
                        onclick="location.href='@Url.Action("MaintenanceById","Items", new {id = item.Id})'"
                    >
                        Details
                    </button>

                    <button 
                        type="button"
                        class="card-footer-item"
                        onclick="deleteItem(@item.Id)"
                    >
                        Delete
                    </button>
                </div>
            </div>
        }
    </div>
    <script src="~/js/DeleteByIDHelper.js"></script>
</div>
